@(title: String, nav: String = "", option: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <script>
</script>
    <body>
    
    <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.getHome()">Home</a>
                    <ul class="nav">    
                    	@if(option=="showTopMenu"){
	                        <li class="@("active".when(nav == "recommendMe"))">
	                            <a href="@routes.Engine.recommendMe()" id="recommendMe">Recommend me</a>
	                        </li class="@("active".when(nav == "visitedLocations"))">
	                        <li>
	                            <a href="@routes.Engine.visitedLocations()">Visited locations</a>
	                        </li>
							<li class="@("active".when(nav == "logout"))">
		                        <a href="@routes.Application.logout()" id="logOut">Logout</a>
		                    </li>
	                	}
                    </ul>
                </div>
            </div>
    </div>
    <div class="container">

                
                
                <div class="row">
                        @content
                </div>
                
            <footer>
             
	            <a href="@routes.Application.index" id="logo"><span>MyRecommenderApp</span></a>
            </footer>

        </div>
    </body>
</html>
