@(output : ArrayList[models.db2.Location], featureCollection : String, nav: String)
		<!DOCTYPE html>
		<html>
				<head>
				<meta charset=utf-8 />
				<title>Markers As Links</title>
				
				<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
				<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
				<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
   
				<style>
				  #map { position:fixed; top:40px; bottom:0;  right:0; width:50%;}
				  #recommendation {position:absolute; top:40px; left:0; width:100%; background-color:white;}
				  .locs{height:160px; padding-left:60px}
				  .locs:hover{ background:#F8F8FF; }
				  .locs:active { background: #D3D3D3}
				</style>
				</head>
		<body>
		<div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.getHome()">Home</a>
                    <ul class="nav">    
                    	    <li class="@("active".when(nav == "recommendMe"))">
	                            <a href="@routes.Engine.recommendMe()" id="recommendMe">Recommend Me</a>
	                        </li>
							<li class="@("active".when(nav == "logout"))">
		                        <a href="@routes.Application.logout()" id="logOut">Logout</a>
		                    </li>
                    </ul>
                </div>
            </div>
    	</div>
   			<div id='recommendation'>
   							<div id="slidingDiv">
   									@for((l, i) <- output.zipWithIndex){
												<div class="locs" id="locElement@{i+1}" onClick="highlightLink(this); showOnMap(locElemend@{i+1})">
													<div style="width:380px; float:left">
														<h3><a href=#>@{i+1}.@l.name</a></h3>
															<div style="padding-left:2px">
																<p>@l.address</p>
																<p>@l.categories.split(",")(0)</p>
																<p>Total Visitors: @l.usersCount</p>
																<p></p>
															</div>
													</div>
													<div style="float:left; margin-top:15px; width:150px">
														@if(!Option(l.photoUrl).isEmpty){
														<img alt="" src="@l.photoUrl.split(",")(0)" width="130" height="130">
														}else{
														<img alt="" src="@routes.Assets.at("images/noImage.jpg")" width="130" height="130" border="1">
														}
													</div>
												</div>
									}
									
							</div>
					
					<div id='map'></div>
				</div>
		<script>
		var map = L.mapbox.map('map', 'zkria.h2nkic6a').setView([1.28896996449708, 103.846958006038], 13);
		// The GeoJSON representing the two point features
		var geoJson = @Html(featureCollection);
		//alert(JSON.stringify(geoJson['features'][0]['properties']['index']));
		// Pass features and a custom factory function to the map
		map.markerLayer.setGeoJSON(geoJson);
		map.scrollWheelZoom.disable();
		
		
		map.markerLayer.on('click', function(e) {
			//alert(e.layer.feature.properties.index);
			//$('#locElement'+e.layer.feature.properties.index).goTo(); 
		   // window.open(e.layer.feature.properties.url);
		    $('html,body').animate({
     		   scrollTop: $('#locElement' + e.layer.feature.properties.index).offset().top - 100},
        		'slow');
		    highlightLink(document.getElementById('locElement' + e.layer.feature.properties.index));
		});
		
		var highlightLink = function () {
			var active = null, colour = '#D9ECF7';
	        if (this.attachEvent) this.attachEvent('onunload', function () {
	            active = null;
	        });
	        return function (element) {
	            if ((active != element) && element.style) {
	                if (active) active.style.backgroundColor = '';
	                element.style.backgroundColor = colour;
	                active = element;
	            }
	        };
	    }();
		
		</script>
		
		
		</body>
		</html>
