@(output : ArrayList[models.db2.Location], featureCollection : String)
<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Markers As Links</title>

<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<div id='map'></div>
<script>
var map = L.mapbox.map('map', 'zkria.h2nkic6a').setView([1.28896996449708, 103.846958006038], 13);

// The GeoJSON representing the two point features
var geoJson = @Html(featureCollection);
// Pass features and a custom factory function to the map
map.markerLayer.setGeoJSON(geoJson);
map.markerLayer.on('mouseover', function(e) {
    e.layer.openPopup();
});
map.markerLayer.on('mouseout', function(e) {
    e.layer.closePopup();
});
//map.markerLayer.on('click', function(e) {
    e.layer.bindPopup();
   // window.open(e.layer.feature.properties.url);
//});
</script>


</body>
</html>